@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(0, 99, 248);

    --first-color: rgba(102, 79, 216, 0.548);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 250);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}


/* =============== BASE =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* SMOOTH scroll */
html {
    scroll-behavior: smooth;
}

/* Change the scrool bar design */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1;

}


/* Global design */
.btn {
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4;
}


.btn>i {
    margin-left: 10px;
}

i {
    font-size: 20px;
}


/* Base */
body {
    background: var(--body-color);
}

.container {
    width: 100%;
    position: relative;
}


/* Navigation bar */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: rgba(55, 0, 255, 0.01);
    padding-inline: 9vw;
    transition: 0.3s;
    z-index: 100;
}


.nav-logo {
    position: relative;
}

.nav-name {
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
}

.nav-logo span {
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 4em;
    color: var(--text-color-second);
}


.nav-menu,
.nav_menu_list {
    display: flex;
}

.nav-menu .nav_list {
    list-style: none;
    position: relative;

}

.nav-link {
    text-decoration: none;
    color: var(--text-color-second);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}


.nav-menu-btn {
    display: none;
}

.nav-menu-btn i {
    font-size: 25px;
    color: var(--text-color-second);
    cursor: pointer;
}


/* Wrapper Design*/
.wrapper {
    padding-inline: 10vw;
}

.featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}

.featured-text-card span {
    /* background: var(--third-color); */
    color: var(--color-white);
    background: rgba(64, 89, 143, 0.9);
    padding: 3px 8px;
    font-size: 15px;
    border-radius: 10px;
}

.featured-name {
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-top: 20px;
    min-height: 130px;
}

.featured-name .typedText {
    text-transform: capitalize;
    color: var(--text-color-third);
}

.featured-text-info {
    font-size: 17px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}

.featured-text-btn {
    display: flex;
    gap: 20px;
}

.featured-text-btn>.blue-btn {
    background: rgba(64, 89, 143, 0.9);
    color: var(--color-white);
}


.social_icons {
    display: flex;
    margin-top: 5rem;
    gap: 30px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.linkedin {
    box-shadow: 0px 1px 3px 0 #0077B5;
}

.instagram {
    box-shadow: 0px 1px 3px 0 #E1306C;
}

.github {
    box-shadow: 0px 1px 3px 0 #333;
}

.youtube {
    box-shadow: 0px 1px 3px 0 #FF0000;
}

.facebook {
    box-shadow: 0px 1px 3px 0 #1877F2;
}



/* Feature image */
.featured-image {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 80vh;
    width: 50%;
}

.image {
    margin: auto 0;
    width: 400px;
    height: 400px;
    border-radius: 75% 45% 65% 45%;

}

.image img {
    width: 100%;
    border-radius: 55% 45% 55% 45%;
    animation: imgFloat 16s ease-in-out infinite;
    background-color: #7c7c7c1c;
    filter: brightness(1.2);

}

@keyframes imgFloat {
    0% {
        transform: translate(0, 0);
        border-radius: 55% 45% 55% 45%;
    }

    25% {
        transform: translate(50px, -50px);
        border-radius: 60% 40% 50% 50%;
    }

    50% {
        transform: translate(50px, 50px);
        border-radius: 45% 55% 45% 55%;
    }

    75% {
        transform: translate(-50px, 50px);
        border-radius: 50% 50% 60% 40%;
    }

    90% {
        transform: translate(-50px, 0);
        border-radius: 55% 45% 55% 45%;
    }

    100% {
        transform: translate(0, 0);
        border-radius: 55% 45% 55% 45%;
    }
}

.scroll-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--text-color-second);
    background: var(--color-white);
    border-radius: 30px;
    box-shadow: 0 2px 10px 0 rgba(15, 12, 230, 0.664);
    animation: iconFloat 2s ease-in-out infinite;

}

@keyframes iconFloat {
    50% {
        bottom: 2%;
    }
}

.scroll-btn i {
    font-size: 20px;
}






/* ------------------ About */
.section {
    padding-block: 5em;
}

.top-header {
    text-align: center;
    margin-bottom: 5em;
}

.top-header h1 {
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}

.top-header span {
    color: #999;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}


.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col {
    display: flex;
    width: 50%;
}




.about-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px rgba(56, 126, 255, 0.349);
    border-radius: 20px;
    height: fit-content;
}


.about-info p {
    text-align: center;
    font-size: 14px;
    color: #777;
}

.about-btn button {
    position: absolute;
    right: 20px;
    bottom: 20px;

    background: var(--text-color-third);
    color: var(--color-white);
    border-radius: 20px;

}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills-box {
    margin: 10px;
    max-width: 150px;
}

.skills-header {
    margin-bottom: 30px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.skills-list span {
    font-size: 14px;
    background: var(--text-color-third);
    color: var(--color-white);
    padding: 2px 10px;
    border-radius: 5px;
}





/* Projects */
.projects-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap; 
}

.project-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: ; */
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px rgba(56, 126, 255, 0.349);
    overflow: hidden;
    padding: 20px;
    margin-bottom: 4rem;
}



.project-box:hover i {
    color: var(--text-color-third);
    z-index: 2;
}


.project-box>p{
    display: flex;
    text-align: center;
    text-wrap: wrap;
    font-size: 15px;
    font-weight:300;
    color: black;
}

.project-box span{
    margin: 0 3rem;
}

.project-box span a {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    display: inline-block;
    max-width: 100%;
}

.project-image{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-image img {
    width: 45%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    margin: 1rem;
}


.project-image div {
    width: 45%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    margin: 1rem;
}


.project-image div img{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    margin: 1rem;
}



.contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 20px 30px;
    width: 50%;
    height: 215px;
    background: rgba(0, 76, 255, 0.075);
    border-radius: 10px;
    box-shadow: 1px 8px 10px 2px rgba(56, 126, 255, 0.349);
    overflow: hidden;
}

.contact-info>h2 {
    color: var(--text-color-third);
    margin-bottom: 20px;
}

.contact-info>p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 5px;
    color: #777;
}

.contact-info>p>i{
    font-size: 17px;
}



footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 100%;

}

.footer-name{
    margin-right: 4px;
}
.footer-name>h1{
    color: var(--text-color-third);
}

.icons{

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    display: flex;
    width: 70%;
    justify-content: space-between;
}


















.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(9px);
  }
  
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    border-radius: 15px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  @media only screen and (max-width: 1400px) {

    .project-image img{
        width: 100%;
    }

    .project-image div{
        width: 100%;
    }

  }

@media only screen and (max-width: 930px) {
    .featured-text {
        padding: 0;
    }

    .image,
    .image img {
        width: 300px;
    }
    .scroll-btn{
        display: none;
    }

    .modal-content{
        width: 90%;
    }
    

}






@media only screen and (max-width: 900px) {
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        left: 0;
    }

    .nav-menu {
        position: fixed;
        top: 80px;
        left: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(218, 218, 218, 0.2);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .7s;
    }

    .nav_menu_list {
        flex-direction: column;
    }

    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .featured-box {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .featured-text {
        width: 100%;
        order: 2;
        justify-content: center;
        align-items: flex-start;
        min-height: 60vh;
    }

    .social_icons {
        margin-top: 2rem;
    }

    .featured-image {
        width: 100%;
        order: 1;
        justify-content: center;
        min-height: 150px;
        margin-top: 65px;
        z-index: -4;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .col {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-info {
        width: 100%;
    }

    .projects-container {
        justify-content: center;
    }

    .project-box {
        width: 80%;
    }


    .contact-info {
        width: 100%;
    }



    .wrapper {
        padding-inline: 6vw;
    }
}


@media only screen and (max-width: 600px) {
    .featured-name {
        font-size: 40px;
    }

    .project-box {
        width: 100%;
    }

}












  









